* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100vh;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #000 url(../images/loader.gif) no-repeat center center;
}

h1 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

















